@font-face {
    font-family: 'Integral-Bold';
    src: url('../../Fontes/Integral_CF/Fontspring-DEMO-integralcf-bold.otf') format('opentype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
}
