@import url("./fonts-css/integral_cf.css");
@import url("./fonts-css/satoshi.css");

h1 {
  font-family: "Integral-Bold";
  font-weight: bold;
}

h3,
ul {
  font-family: "Satoshi-Variable";
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*before nav*/

.before-nav {
  padding: 10px;
  max-width: 100%;
  background-color: black;
  position: relative;
  font-family: "Satoshi-Variable";
}

.up-cookie {
  color: white;
  text-align: center;
}

.underline-cookie {
  text-decoration: underline;
  cursor: pointer;
}

.close-icon {
  position: absolute;
  right: 10rem;
  top: 0.7rem;
  cursor: pointer;
}

/* end of before nav*/

/*responsive Mobile before nav*/
@media screen and (max-width: 390px) {
  .before-nav {
    font-size: 12px;
  }
  .close-icon {
    display: none;
  }
}

/*responsive before nav*/

/* navbar */

.container-1 {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: white;
  max-width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
}

.icon-menu-mobile {
  display: none;
}

.shop-name {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  font-family: "Integral-Bold";
}

.menu {
  width: 30rem;
  margin: 0 24px;
  padding: 0;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  cursor: pointer;
  color: black;
}

.search-bar {
  display: flex;
  width: 25rem;
  align-items: center;
  background-color: #f5f5f5;
  padding: 0.5rem 1rem;
  border-radius: 62px;
  margin-left: 1rem;
  cursor: pointer;
}

.search-icon-mobile{
  display: none;
}

.search-icon {
  margin-right: 5rem;
}

.search-bar {
  border-radius: 20px;
  padding: 10px 15px;
  width: 50%;
}

.search-icon {
  margin-right: 10px;
  font-size: 16px;
}

.input-search {
  border: none;
  background: none;
  outline: none;
  flex: 1;
  font-size: 14px;
}

.icons-nav {
  display: flex;
  gap: 2rem;
  font-size: 20px;
  cursor: pointer;
  margin-left: 1rem;
}

/* end of navbar */

/* responsive navbar */

@media screen and (max-width: 390px) {
  .navbar {
    margin: 0;
    height: 50%;
    align-items: center;
    justify-content: center;
  }

  .icon-menu-mobile {
    display: block;
    margin-left: 2rem;
  }
  .shop-name {
    font-size: 1rem;
    margin-bottom: 8px;
  }
  .nav-links {
    display: none;
  }

  .search-bar {
    background-color: #fff;
  }

  .input-search {
    display: none;
    align-items: center;
  }

  .search-icon {
    display: none;
    color: black;
  }

  .search-icon-mobile{
    display: flex;
  }
  .icons-nav {
    font-size: 10px;
    margin-left: 0;
    margin-right: 2rem;
    gap: 12px;
  }
}

/* end of responsive navbar */

/*section-2*/

.section-2 {
  background-image: url("../assets/main-couple.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  max-width: 1440px;
}

.container-2 {
  width: 100%;
  height: 100vh;
}

.text-content {
  max-width: 577px;
  margin-left: 4rem;
  padding: 4rem 0;
  position: relative;
  width: 50%;
  text-align: left;
}

.text-content h1 {
  font-size: 4rem;
  width: 100%;
}

.text-content p {
  width: 100%;
  margin-top: 1rem;
  opacity: calc(60%);
  font-family: "Satoshi-Variable";
}

.shop-btn {
  margin-left: 4rem;
  width: 10rem;
  height: 52px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 62px;
  font-size: 16px;
  text-align: center;
  line-height: 52px;
  transition: 0.15s;
  position: relative;
}

.shop-btn:hover {
  background-color: #444;
  color: white;
}

.top-info {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  position: absolute;
  padding-left: 4rem;
  padding-top: 4rem;
}

.top-info ul {
  display: flex;
  gap: 2rem;
  margin: 0;
  list-style: none;
  text-align: left;
}

.top-info h3 {
  font-size: 2.5rem;
  font-weight: bold;
}

.top-info p {
  opacity: calc(60%);
}

.middle-info {
  border-right: 1px solid;
  border-left: 1px solid;
  border-color: rgb(185, 185, 185);
  padding: 0 3rem;
}

.stars {
  position: absolute;
  max-width: 100%;
}

.small-star {
  transform: translate(850px, -550px);
}

.big-star {
  transform: translate(1290px, -800px);
}

.background-mobile{
  display: none;
}
.stars-mobile{
  display: none;
}

/*end of section-2*/

@media screen and (max-width: 390px) {
  
  .section-2 {
    
    background-color: #F0F0F0;
    background-repeat: no-repeat; 
    background-position-y: 507px;
    background-position-x: -370px;
    background-size: 200%;
    width: 100%; 
    height: 100vh;
  
  } 

  .stars-mobile{
    display: flex;
  }
  .big-star-mobile{
    display: flex;
    transform: translate(250px, -350px);
  }
  .small-star-mobile{
    display: flex;
    transform: translate(20px, -200px);
  }


  .small-star {
    display: none;
  }

  .big-star{
    display: none;
  }
  
  
  .text-content {
    max-width: 577px;
    margin-left: 2rem;
    padding: 1.5rem 0;
    position: relative;
    width: 90%;
    text-align: left;
  }

  .text-content h1 {
    font-size: 2rem;
  }

  .text-content p {
    font-size: 0.9rem;
  }

  .shop-btn {
    display: flex;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    justify-content: center;
    width: 90%;
  }

  .top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: absolute;
    padding: 0;
    margin-left: 2rem;
    margin-top: 2rem;
  }
  .top-info ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    padding-left: 1rem;
    margin: 0 auto;
    list-style: none;
    text-align: left;
  }

  .top-info li:nth-child(3) {
    justify-content: left;
    align-items: left;
    margin: 0 auto;
    padding-top: 1rem;
    padding-right: 2rem;
  }

  .top-info h3 {
    font-size: 1.8rem;
    font-weight: bold;
  }

  .top-info p {
    font-size: 0.9rem;
    opacity: calc(60%);
  }

  .middle-info {
    border-left-color: rgb(185, 185, 185);
    border-right: none;
    padding: 0 1rem;
  }
}

/* Brands banner */

.brands-banner {
  width: 100%;
  display: flex;
  background-color: #000;
  height: 5rem;
  justify-content: space-around;
  align-items: center;
}

/* end of Brands banner */

@media screen and (max-width: 390px) {
  .brands-banner {
  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 146px;
    justify-content: space-evenly;
    padding: 30px 0;
  }

  .brands-banner svg {
    height: 27px;
    width: 120px;
  }
}

/* section-3*/

.container-3 {
  height: 85vh;
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid;
  border-color: #dadada;
}

.new-arrivals{
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.title-new-arrivals {
  font-size: 2rem;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-items: center;
  text-align: center;
  font-family: "Integral-Bold";
}

.products {
  display: flex;
  margin-bottom: 2%;
  align-items: space-around;
  gap: 1rem;
  font-family: "Satoshi-Variable";
}

.clothes-card {
  display: inline;
}

.clothes-img {
  height: 295px;
  width: 298px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  border: none;
}

.clothes-img:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-name {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #333;
  font-weight: bold;
}

.product-rating {
  margin-top: 5px;
}

.rating-score {
  margin-left: 5px;
}

.product-sale {
  display: flex;
  align-items: left;
  text-align: left;
  align-items: center;
  gap: 5px;
}
.product-price {
  font-size: 2rem;
  margin: 0.5rem 0;
  font-weight: bold;
}
.product-discount {
  text-decoration: line-through;
  color: #999;
  margin-right: 10px;
  font-size: 32px;
}

.discount-tag {
  background-color: rgba(255, 0, 0, 0.1);
  width: 50px;
  text-align: center;
  font-size: 1rem;
  border: none;
  border-radius: 60px;
  color: red;
}

.clothing-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.clothing-info {
  padding: 10px;
  text-align: center;
}

.view-all-btn {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 15%;
  height: 3rem;
  border: 1.5px solid;
  border-color: #c5c5c5;
  border-radius: 62px;
  box-shadow: 0 4px 8px rgba(143, 142, 142, 0.2);
  justify-content: center;
  background-color: rgb(252, 252, 252);
  padding: 0;
  transition: 0.2s;
  ;
}

.view-all-btn:hover {
  background-color: #949494;
  color: white;
}

@media screen and (max-width: 390px) {

  .container-3 {
    margin: 0 auto;
    width: 100%;
    height: 65vh;
    overflow: hidden;
  }

  .new-arrivals {
    max-width: 390px;
  }

  .products {
    gap: 20px;
    margin-bottom: 30px;
  }
  .new{
    margin-left: 25px;
  }

  .title-new-arrivals {
    max-width: 390px;
    font-size: 32px;

    & h2 {
      font-size: 32px;
    }
  }

  .clothes-img {
    height: 200px;
    max-width: 198px;
  }

  .products p, .product-discount {
    font-size: 16px;
  }

  .discount-tag {
    font-size: 10px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .view-all-btn {
    width: 90%;
  }

  .product-3, .product-4 {
    display: none;
  }
}

/*end of section-3*/

/*section-4*/

.container-4 {
  max-width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  margin-left: 3.5rem;
  margin-right: 4rem;
}

.title-top-selling {
  font-size: 2rem;
  margin: 2rem 2rem 2rem 0;
  text-align: center;
  font-family: "Integral-Bold";
}

@media screen and (max-width: 390px) {
  .container-4 {
    margin: 0;
    width: 100%;
    overflow: hidden;
    height: 65vh;
  }

  .top-selling {
    max-width: 390px;
    padding: 0 15px;
  }

  .title-top-selling {
    max-width: 390px;
    font-size: 32px;

    & h2 {
      font-size: 32px;
    }
  }
}

/*end of section-4*/

/*section-5*/

.section-5 {
  width: 100%;
  height: 886px;
}

.section-5-title {
  font-size: 2rem;
  font-family: "Integral-Bold";
  text-align: center;
  padding-top: 4rem;
}

.container-5 {
  display: flex;
  background-color: #f0f0f0;
  border: none;
  border-radius: 40px;
  margin: 0 auto;
  width: 90%;
  height: 866px;
}

.dress-styles {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.dress-styles h3 {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 2rem;
  max-width: 100%;
  color: black;
  padding: 10px;
  position: absolute;
  transform: translateY(-10px);
}

.dress-styles img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.fit-img {
  border-radius: 20px;
}

.style-casual,
.style-gym {
  width: 407px;
  height: 289px;
}

.style-formal,
.style-party {
  width: 648px;
  height: 289px;
}

/*end of section-5*/

@media (max-width: 390px) {
  .section-5-title {
    font-size: 1.4rem;
    padding-top: 1rem;
  }

  .container-5{
    height: 1030px;
  }
  .dress-styles {
    margin-top: 2rem;
  }

  .dress-styles h3 {
    font-size: 1.3rem;
  }

  .dress-styles img {
    object-fit: cover;
    width: 100%;
    height: 190px;
  }

  .style-casual,
  .style-gym {
    width: 90%;
    height: 40%;
  }

  .style-formal,
  .style-party {
    width: 90%;
    height: 40%;
  }
}

/*section-6*/

.section-6 {
  display: flex;
  padding: 0;
  margin: 0;
}

.section-6-title {
  font-size: 2rem;
  font-weight: 900;
  margin-top: 4rem;
  margin-left: 4rem;
  margin-bottom: 1rem;
}

.change-arrows {
  text-align: right;
  position: relative;
  margin-right: 5rem;
  top: -50px;
}

.change-arrows svg {
  cursor: pointer;
}

.container-6 {
  max-width: 100%;
}
.custumer-ratings {
  display: flex;
  overflow: hidden;
  gap: 20px;
  justify-content: center;
}

.customer-1,
.customer-2,
.customer-3,
.customer-4,
.customer-5 {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #dad9d9;
  padding: 2rem;
  min-width: 28%;
  height: 230px;
  text-align: left;
  transition: 0.2s;
}

.customer-1:hover,
.customer-2:hover,
.customer-3:hover,
.customer-4:hover,
.customer-5:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.customer-1,
.customer-5 {
  filter: blur(2px);
}

.customer-name h3 {
  display: inline-block;
  text-align: center;
  font-size: 1.2em;
  color: #555;
  margin-bottom: 10px;
  font-weight: bold;
}

.customer-avaliation p {
  font-size: 1em;
  color: #777;
  line-height: 1.5;
  font-family: "Satoshi-Variable";
}

/*end of section-6*/

/* Responsive section 6*/
@media (max-width: 390px) {
  .custumer-ratings {
    flex-direction: column;
    align-items: center;
  }

  .section-6-title {
    width: 160px;
    font-size: 1rem;
    margin-left: 1rem;
  }

  .container-6{
    margin-top: 110px;
  }

  .change-arrows {
    justify-content: center;
    text-align: right;
    position: relative;
    margin-right: 1rem;
    top: -35px;
  }

  .customer-2 {
    width: 90%;
    max-width: 100%;
  }

  .customer-1,
  .customer-3,
  .customer-4,
  .customer-5 {
    display: none;
  }

  .customer-avaliation {
    font-size: 0.87rem;
  }
}

/* end of Responsive section 6*/

/* newsletter */

.section-7 {
  background: linear-gradient(to bottom, #fff 50%, #f0f0f0 50%);
}

.container-7 {
  width: 1240px;
  max-width: 100%;
  margin: 0 auto;
}

.newsletter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  background-color: #000000;
  padding: 2rem;
  margin-top: 5%;
  border-radius: 20px;
}

.newsletter h2 {
  width: 40%;
  font-family: "Integral-Bold";
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.news-email {
  height: 40px;
  width: 350px;
  padding: 0.5rem;
  border-radius: 62px;
  background-color: #fff;
  text-align: center;
  align-items: left;
}

.news-btn {
  height: 40px;
  width: 350px;
  border-radius: 62px;
  background-color: #fff;
  text-align: center;
  align-items: center;
  transition: 0.2s;
}

.news-btn:hover {
  background-color: #949494;
  color: white;
}

/* end of newsletter */

/* Responsive newsletter*/

@media only screen and (max-width: 390px) {
  .container-7 {
    margin-top: 10%;
    width: 90%;
  }
  .newsletter {
    flex-direction: column;
  }

  .newsletter h2 {
    font-size: 1.7rem;
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .news-email {
    width: 150%;
  }
  .news-btn {
    width: 150%;
  }
}
/* end of Responsive newsletter*/

/* footer */

footer {
  background-color: #f0f0f0;
}

footer ul {
  list-style: none;
}

.container-footer {
  width: 1240px;
  margin-bottom: 1rem;
}

footer .footer {
  display: flex;
  margin-top: 5%;
  margin-left: 5%;
  justify-content: space-evenly;
}

footer .footer-socials {
  width: 248px;
  margin: 0;
  align-items: left;
  text-align: left;
}

footer .footer-socials h3 {
  font-size: 2.5rem;
  font-family: "Integral-Bold";
  margin-bottom: 15px;
  font-weight: 900;
}

footer .footer-socials p {
  font-size: 0.9rem;
  text-align: left;
  margin-bottom: 10px;
  opacity: calc(60%);
  font-family: "Satoshi-Variable";
}

footer .social-icons {
  display: flex;
  margin-top: 1rem;
  gap: 10px;
}

.icon {
  display: flex;
  width: 28px;
  height: 28px;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 50%;
  font-size: 24px;
  color: black;
  transition: all 0.3s ease-in-out;
}

.active {
  background-color: black;
  border-color: black;
}

.icon:hover {
  background-color: white;
  color: black;
  border-color: black;
}

.icon.active:hover {
  background-color: black;
  color: black;
  border-color: black;
}

footer .footer-company h3,
.footer-help h3,
.footer-faq h3,
.footer-resources h3 {
  margin-top: 1rem;
  margin-bottom: 0.8rem;
  color: black;
}

footer .footer-company li,
.footer-help li,
.footer-faq li,
.footer-resources li {
  padding: 4px;
  opacity: calc(60%);
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

/*end of footer*/

/*Responsive footer*/

@media screen and (max-width: 390px) {
  
  .container-footer {
    max-width: 390px;
  }

  footer .footer {
    justify-content: space-between;
    padding: 2rem 5%;
    flex-wrap: wrap;
    max-width: 390px;
    margin: 0;
  }

  footer .footer-socials {
    width: 100%;
  }

  footer .footer-company, .footer-help, .footer-faq, .footer-resources {
    width: 50%;
  }

  footer .footer-company, .footer-help {
    margin-bottom: 20px;
  }

  footer .footer-socials h3 {
    font-size: 1.8rem; /* Ajusta o tamanho da fonte para telas pequenas */
  }

  footer .footer-socials p {
    font-size: 0.8rem; /* Reduz o tamanho da fonte */
  }

  footer .footer-company h3,
  footer .footer-help h3,
  footer .footer-faq h3,
  footer .footer-resources h3 {
    font-size: 1.2rem; /* Reduz o tamanho da fonte */
  }

  footer .footer-company li,
  footer .footer-help li,
  footer .footer-faq li,
  footer .footer-resources li {
    font-size: 0.8rem; /* Reduz o tamanho da fonte */
  }
}

/*end of Responsive footer*/

/* under footer */

footer .under-footer {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: #f0f0f0;
  border-top: 1px solid #ddd;
}

footer .under-footer p {
  font-size: 14px;
  color: #666;
  font-family: "Satoshi-Variable";
}

footer .payment {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

footer .payment-icons svg {
  background-color: #fff;
  width: 40px;
  height: 30px;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 5px;
  align-items: center;
  text-align: center;
}

/* end of under footer */

/*Responsive Design*/

@media only screen and (max-width: 390px) {
  .under-footer {
    width: 100%;
    flex-direction: column;
  }

  .under-footer p {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .payment-icons {
    margin-top: 1rem;

    text-align: center;
  }
}
